.header img{
    position: relative;
    width: 100%;
}
.header p{
    font-size: xxx-large;
    font-weight: bold;
    font-family: serif;
    color: white;
    position: absolute;
    top: 0;
    left: 30%;
    text-shadow: 1px 2px 3px #333333;
}